html * {
    font-family: 'Montserrat', "Arial", sans-serif;
}

body {
    margin: 0;
    background-color: whitesmoke;
    color: black;
    height: 100%;
    text-align: center;
    background-color: white;
    font-family: "Montserrat", "Arial", sans-serif;
    color: black;
}

/*Formatierung aller Überschriften*/
h1 {
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: 400;
    letter-spacing: 0.3em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

h2 {
    font-family: "Freeland W00 Regular", 'baskerville-urw', Georgia, Times, "Times New Roman", serif;
    font-size: 39px;
    line-height: 1.3;
    padding: 10px 5% 0;
    margin-bottom: 5px
}

h3 {
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: 350;
    font-style: italic;
    font-size: 15px;
}

.Titel {
    color: black;
    font-size: 30px;
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: 300;
    font-variant-caps: all-small-caps;
}

/*Fusszeilenformatierung. Für alle Seiten gleich*/

footer {
    padding-top: 5px;
    padding-bottom: 20px;
    border-top: 1px solid lightgrey;
    margin-top: 15px;
    font-size: 14px;
    font-family: "Montserrat", "Arial", sans-serif;
    color: black;
    letter-spacing: 11px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

footer a {
    color: black;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/*Menüführung Formatierung von allen Seiten*/

.navbar {
    overflow: hidden;
    background-color: white;
    position: fixed;
    text-align: center;
    width: 100%;
    height: 23%;
    z-index: 1;
}

.navbar h1 {
    margin-bottom: 1px;
}

.navbar a {
    color: black;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 20px;
    z-index: 1;
}

.subnav .subnavbtn {
    font-size: 20px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.subnav:hover .subnavbtn {
    text-decoration: underline;
}

.subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: white;
    color: black;
    width: 100%;
    z-index: 1;
}

.subnav-content a {
    float: none;
    color: black;
    text-decoration: none;
    font-size: 14px;
    margin-top: 1px;
}

.subnav-content a:hover {
    color: black;
}

.subnav:hover .subnav-content {
    display: block;
}

@media screen and (max-width: 1000px) {

    .navbar {
        overflow: hidden;
        background-color: white;
        position: fixed;
        text-align: center;
        width: 100%;
        height: 25%;
        z-index: 1;
    }

}

/*Formatierung für Social Media Accounts auf der rechten Seite. Gleich auf allen Seiten*/

.sideRight {
    position: fixed;
    top: 150px;
    z-index: 2;
    right: 15px;
}

.sideRight a {
    color: black;
    text-decoration: none;
    font-size: 15px;
    margin-bottom: 10px;
}

.sideRight a:hover {
    opacity: 0.5;
}

/*Formatierung von allgemeinen Links*/

.allgemeinelinks {
    text-decoration: underline;
    color: #1897c3;
    font-family: "Montserrat", "Arial", sans-serif;
}

.allgemeinelinks:hover {
    opacity: 0.6;
    text-decoration: underline;
}

/*Formatierung für 3 Reihen. Responsive*/

.column {
    float: left;
    width: 33%;
    height: auto;
}

.column a {
    text-decoration: none;
}

.column a:hover {
    opacity: 0.5;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/*Formatierung Bild*/
.imgNav {
    width: auto;
    height: 415px;
}

@media screen and (max-width: 1000px) {

    .column {
        width: 40%;
        height: auto;
        margin-left: 29%;
        float: left;
    }

    .imgNav {
        width: 100%;
        height: auto;
    }

}

/*FORMATIERUNGEN NUR FÜR INDEX SEITE*/

.BariBild {
    max-width: 65%;
    height: auto;
}

/*FORMATIERUNGEN NUR FÜR "Über Mich" SEITE*/

/*Formatierung für Verlinkung meines Lebenslaufes auf der linken Seite*/

.sidenav {
    width: 210px;
    position: fixed;
    top: 140px;
    left: 20px;
    background: #E7EDF5;
    overflow-x: hidden;
    padding: 8px 0;
}

.sidenav a {
    padding: 6px 6pcx 6px 16px;
    text-decoration: none;
    font-size: 1px;
    display: block;
}

.sidenav a:hover {
    opacity: 0.5;
}

.IchBild {
    max-width: 60%;
    height: auto;
}

.Hallo {
    max-width: 650px;
    margin: auto;
}

.hola {
    max-width: 25%;
    margin-top: 20px;

}

@media only screen and (max-width: 1250px) {

    .Hallo {
        max-width: 550px;
        margin: auto;
    }


    .sidenav {
        display: none;
    }

}

/*FORMATIERUNGEN NUR FÜR "WERDEGANG" SEITE*/

.container {
    position: relative;
    text-align: center;
}

.WerdeBild {
    max-width: 56%;
}

/*Formatierung und Positionierung von dem Text auf der grauen Box*/

.Text-Oben-Links {
    position: absolute;
    top: 15%;
    left: 34.7%;
    color: white;
    font-family: "Montserrat", "Arial", sans-serif;
    max-width: 257px;
    transform: translate(-50%, -50%);
    font-size: 14px;
    letter-spacing: 5px;
}

.Text-Oben-Links1 {
    position: absolute;
    top: 22%;
    left: 34.7%;
    color: white;
    font-family: "Montserrat", "Arial", sans-serif;
    max-width: 257px;
    transform: translate(-50%, -50%);
    font-size: 14px;
    letter-spacing: 5px;
}

.Text-Unten-Rechts {
    position: absolute;
    top: 82%;
    right: 15%;
    color: white;
    font-family: "Montserrat", "Arial", sans-serif;
    max-width: 250px;
    transform: translate(-50%, -50%);
    font-size: 14px;
    letter-spacing: 5px;
}

.Text-Unten-Rechts1 {
    position: absolute;
    top: 80%;
    right: 15%;
    color: white;
    font-family: "Montserrat", "Arial", sans-serif;
    max-width: 250px;
    transform: translate(-50%, -50%);
    font-size: 14px;
    letter-spacing: 5px;
}

.Text-Unten-Rechts2 {
    position: absolute;
    top: 83%;
    right: 15.2%;
    color: white;
    font-family: "Montserrat", "Arial", sans-serif;
    max-width: 250px;
    transform: translate(-50%, -50%);
    font-size: 14px;
    letter-spacing: 5px;
}

.Text-Unten-Links {
    position: absolute;
    top: 85.8%;
    left: 35%;
    color: white;
    font-family: "Montserrat", "Arial", sans-serif;
    max-width: 250px;
    transform: translate(-50%, -50%);
    font-size: 14px;
    letter-spacing: 5px;
}

.Text-Oben-Rechts {
    position: absolute;
    top: 18.4%;
    right: 15%;
    color: white;
    font-family: "Montserrat", "Arial", sans-serif;
    max-width: 250px;
    transform: translate(-50%, -50%);
    font-size: 14px;
    letter-spacing: 5px;
}

/*Formatierung und Positionierung der grauen Box*/

.Dunkelgrau {
    position: absolute;
    top: 5%;
    left: 24%;
    width: 21.5%;
    height: 20%;
    opacity: 0.5;
}

.Dunkelgrau1 {
    position: absolute;
    bottom: 5%;
    left: 54.5%;
    width: 21.5%;
    height: 25%;
    opacity: 0.5;
}

.Dunkelgrau2 {
    position: absolute;
    bottom: 5%;
    left: 24%;
    width: 21.5%;
    height: 18%;
    opacity: 0.5;
}

.Dunkelgrau3 {
    position: absolute;
    bottom: 5%;
    left: 54.5%;
    width: 21.5%;
    height: 30%;
    opacity: 0.5;
}

.Dunkelgrau4 {
    position: absolute;
    top: 5%;
    left: 24%;
    width: 21.5%;
    height: 33%;
    opacity: 0.5;
}

.Dunkelgrau5 {
    position: absolute;
    top: 5%;
    left: 54.5%;
    width: 21.5%;
    height: 27%;
    opacity: 0.5;
}

.Dunkelgrau6 {
    position: absolute;
    top: 5%;
    left: 23.7%;
    width: 21.5%;
    height: 33%;
    opacity: 0.5;
}

.Dunkelgrau7 {
    position: absolute;
    bottom: 5%;
    left: 54.3%;
    width: 21.5%;
    height: 24%;
    opacity: 0.5;
}

/*Formatierung für den Link der auf Sonova Webseite führt*/
.SonovaLink {
    text-decoration: underline;
    color: white;
    font-size: 14px;
    letter-spacing: 5px;
}

/*Reaktion für Link der auf Sonova Webseite führt, wenn man mit Maus drüber schwebt*/
.SonovaLink:hover {
    color: whitesmoke;
    font-size: 16px;
    text-decoration: underline;
}

.pages {
    margin: auto;
    max-width: 30%;
}

.Textstudium {
    max-width: 900px;
    margin: auto;
}

@media only screen and (max-width: 1250px) {

    .SonovaLink {
        text-decoration: none;
        color: white;
        font-size: 7px;
        letter-spacing: 5px;
    }

    .SonovaLink:hover {
        color: whitesmoke;
        font-size: 9px;
        text-decoration: underline;
    }

    .Text-Oben-Links {
        position: absolute;
        top: 15%;
        left: 34.7%;
        color: white;
        font-family: "Montserrat", "Arial", sans-serif;
        max-width: 130px;
        transform: translate(-50%, -50%);
        font-size: 7px;
        letter-spacing: 2px;
    }

    .Text-Oben-Links1 {
        position: absolute;
        top: 22%;
        left: 34.7%;
        color: white;
        font-family: "Montserrat", "Arial", sans-serif;
        max-width: 130px;
        transform: translate(-50%, -50%);
        font-size: 7px;
        letter-spacing: 2px;
    }

    .Text-Unten-Rechts {
        position: absolute;
        top: 82%;
        left: 65.3%;
        color: white;
        font-family: "Montserrat", "Arial", sans-serif;
        max-width: 130px;
        transform: translate(-50%, -50%);
        font-size: 7px;
        letter-spacing: 2px;
    }

    .Text-Unten-Rechts1 {
        position: absolute;
        top: 80%;
        left: 65.25%;
        color: white;
        font-family: "Montserrat", "Arial", sans-serif;
        max-width: 130px;
        transform: translate(-50%, -50%);
        font-size: 7px;
        letter-spacing: 2px;
    }

    .Text-Unten-Rechts2 {
        position: absolute;
        top: 83%;
        left: 65%;
        color: white;
        font-family: "Montserrat", "Arial", sans-serif;
        max-width: 130px;
        transform: translate(-50%, -50%);
        font-size: 7px;
        letter-spacing: 2px;
    }

    .Text-Unten-Links {
        position: absolute;
        top: 85.8%;
        left: 34.7%;
        color: white;
        font-family: "Montserrat", "Arial", sans-serif;
        max-width: 130px;
        transform: translate(-50%, -50%);
        font-size: 7px;
        letter-spacing: 2px;
    }

    .Text-Oben-Rechts {
        position: absolute;
        top: 18.4%;
        left: 65.25%;
        color: white;
        font-family: "Montserrat", "Arial", sans-serif;
        max-width: 130px;
        transform: translate(-50%, -50%);
        font-size: 7px;
        letter-spacing: 2px;
    }
}

/*FORMATIERUNGEN NUR FÜR "Mein Ziel" SEITE*/

* {
    box-sizing: border-box;
}

/*Zwei Reihen nebeneinander die responsive sind*/

.Reihe1 {
    float: left;
    width: 40%;
}

.Reihe2 {
    float: left;
    width: 60%;
    padding-right: 200px;
}

.ZweiReihen:after {
    content: "";
    display: table;
    clear: both;
}

.vision {
    width: 330px;
    padding: 8px 0;
}

.Jobs {
    display: none;
}

@media only screen and (max-width: 1200px) {

    .stevie {
        display: none;
    }

    .Jobs {
        display: contents;
        text-decoration: underline;
        color: #1897c3;
        font-family: "Montserrat", "Arial", sans-serif
    }

    .Jobs:hover {
        display: contents;
        opacity: 0.6;
        text-decoration: underline;
    }

    .Reihe1 {
        width: 100%;
    }

    .Reihe2 {
        width: 100%;
        padding: 40px;
    }
}

/*FORMATIERUNGEN NUR FÜR "EMPFEHLUNGEN" SEITE*/

.Links {
    text-decoration: none;
    color: #6F6658;
    font-size: 50px;
}

.Links:hover {
    color: gray;
}

/*FORMATIERUNGEN NUR FÜR "Meine Familie" SEITE*/

.Textfamilie {
    max-width: 900px;
    margin: auto;
}

.wasserski {
    background-image: url(Familie/wasserski.jpg);
    height: 470px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

.papispruch {
    background-image: url(Familie/papispruch.jpg);
    height: 470px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

.paloalto {
    background-image: url(Familie/Paloalto.jpg);
    height: 470px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

.fotografie {
    background-image: url(Familie/bildermachen.jpg);
    height: 470px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

.mamispruch {
    background-image: url(Familie/Mamispruch.jpg);
    height: 470px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

.SanFran {
    background-image: url(Familie/SanFran.jpg);
    height: 470px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

.Lesen {
    background-image: url(Familie/LesenNati.jpeg);
    height: 470px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

.Spruchnati {
    background-image: url(Familie/spruch.jpg);
    height: 470px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

.Hawaii {
    background-image: url(Familie/Hawaii.jpg);
    height: 470px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

.Mitteweiss {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: auto;
    transform: translate(-50%, -50%);
    color: white;
    letter-spacing: 1em;
    text-transform: uppercase;
}

@media only screen and (max-width: 1250px) {

    .Mitteweiss {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: auto;
        transform: translate(-50%, -50%);
        color: white;
        letter-spacing: 1em;
        text-transform: uppercase;
        font-size: 10px;
    }
}

/*FORMATIERUNGEN NUR FÜR "Meine Freunde" SEITE*/

/*Zwei Reihen nebeneinander*/

.rowF:after {
    content: "";
    display: table;
    clear: both;
}

.columnBL {
    float: left;
    width: 50%;
    padding-left: 200px;
}

.columnTR {
    float: left;
    width: 50%;
    padding-right: 200px;
}

.columnTL {
    float: left;
    width: 50%;
    padding-left: 200px;
}

.columnBR {
    float: left;
    width: 50%;
    padding-right: 200px;
}

@media screen and (max-width: 1000px) {

    .columnTR {
        width: 100%;
        padding: 40px;
    }

    .columnBL {
        width: 100%;
        padding: 40px;
    }

    .columnTL {
        width: 100%;
        padding: 40px;
    }

    .columnBR {
        width: 100%;
        padding: 40px;
    }

}

/*FORMATIERUNGEN NUR FÜR "Meine Interessen" SEITE*/

/* Folgende Formatierung habe ich bei w3schools gefunden, kopiert und auf meine Bilder angepasst --> "https://www.w3schools.com/howto/howto_css_bg_change_scroll.asp"*/

* {
    box-sizing: border-box;
}

.parent {
    position: absolute;
    height: 75%;
    width: 100%;
    top: 25%;
}

.bg-image {
    /* Full height */
    height: 50%;
    width: 50%;
    margin: auto;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Bilder Wandern*/
.img1 {
    background-image: url("Interessen/Wandern/grandcanyonjo.jpg");
}

.img2 {
    background-image: url("Interessen/Wandern/grandcanyonme.jpg");
}

.img3 {
    background-image: url("Interessen/Wandern/npyosemite.jpg");
}

.img4 {
    background-image: url("Interessen/Wandern/npsalvador.jpg");
}

.img5 {
    background-image: url("Interessen/Wandern/barilochewide.jpg");
}

.img6 {
    background-image: url("Interessen/Wandern/5seen.jpg");
}

/*Bilder Reisen*/
.img7 {
    background-image: url("Interessen/Reisen/cubaauto.jpg");
}

.img8 {
    background-image: url("Interessen/Reisen/deathvalleydunes.jpg");
}

.img9 {
    background-image: url("Interessen/Reisen/SurfenSunset.jpg");
}

.img10 {
    background-image: url("Interessen/Reisen/samarasurf.jpg");
}

.img11 {
    background-image: url("Interessen/Reisen/fuultier.jpg");
}

.img12 {
    background-image: url("Interessen/Reisen/buenosaires.jpg");
}

.img13 {
    background-image: url("Interessen/Reisen/panemabeach.jpg");
}

.img14 {
    background-image: url("Interessen/Reisen/rioipanema.jpg");
}

/*Bilder Essen*/
.img15 {
    background-image: url("Interessen/Essen/BerlinerBogota.jpg");
}

.img16 {
    background-image: url("Interessen/Essen/FoodEliLu.jpg");
}

.img17 {
    background-image: url("Interessen/Essen/lilys.jpg");
}

.img18 {
    background-image: url("Interessen/Essen/steakbruessel.jpg");
}

.img19 {
    background-image: url("Interessen/Essen/zmorgeba.jpg");
}

.img20 {
    background-image: url("Interessen/Essen/zmorgeSavoy.jpg");
}

/*Bilder Verkleiden*/
.img21 {
    background-image: url("Interessen/verkleiden/CauldronimStah.jpg");
}

.img22 {
    background-image: url("Interessen/verkleiden/ClaudronimSitzen.jpg");
}

.img23 {
    background-image: url("Interessen/verkleiden/HalloweenBride.jpg");
}

.img24 {
    background-image: url("Interessen/verkleiden/Halloweenzuviert.jpg");
}

.img25 {
    background-image: url("Interessen/verkleiden/HarryGleis.jpg");
}

/*Bilder Fussball*/
.img26 {
    background-image: url("Interessen/Fussball/MedellinFootball.jpg");
}

.img27 {
    background-image: url("Interessen/Fussball/ybbern.jpg");
}

.img28 {
    background-image: url("Interessen/Fussball/YBFussball.jpg");
}


/* Position text in the middle of the page/image */
.bg-text {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/opacity/see-through */
    color: white;
    font-family: 'Montserrat', "Arial", sans-serif;
    font-weight: 400;
    font-size: 80px;
    border: 10px solid #f1f1f1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 500px;
    padding: 20px;
    text-align: center;
}
