<!DOCTYPE html>
<html>

<head>

    <title>Monatsplan</title>

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />

    <!--Meta-Tags-->

    <meta charset="utf-8" />

    <meta name="Title" content="Alicia Faeh" />

    <meta name="author" content="Alicia Faeh" />

    <meta name="subject" content="Persönlicher Monatsplan von Alicia Fäh" />

    <meta name="language" content="DE" />

    <meta name="Erstellungsdatum" content="12. November 2019" />

    <meta name="Erstellungsort" content="8608 Bubikon" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!--Einbinden von Stylesheet-->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <!--Schrift Online abrufbar, falls nicht auf Computer vorhanden-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">


</head>

<body>

<h1 class="titel"> MONATSPLAN</h1>

    <div class="navbar">
        <a href="{{ url_for('monatsplan') }}">Monatsplan</a>
        <a href="{{ url_for('todo') }}">To Do's auf einen Blick</a>
    </div>

<!--Abschnitt für einen neuen "Event" hinzuzufügen-->
<div class="container">
<form class="new_entry" method="POST">
    <div class="form-group">
  <label for="um_was_gehts" class="abstand">Add an Event:</label>

    <select class="abstand btn-select" id="select_category" name="category">
        <option value="kategorie">Category</option>
        <option value="arbeiten" class="arbeiten">Work</option>
        <option value="schule" class="schule">Lectures</option>
        <option value="spass" class="spass">Leisure-Time</option>
        <option value="lernen" class="lernen">Study-Time</option>
        <option value="pruefungen" class="pruefungen">Exams</option>
    </select>

    <input type="text" name="subject" id="um_was_gehts" placeholder="What's it about?" class="abstand form-input" required>

    <input type="text" name="where" id="um_was_gehts" placeholder="Where?" class="abstand form-input" style="width: 140px" required>

    <input type="date" name="date" id="um_was_gehts" class="abstand form-input" style="width: 140px" required>

    <input type="time" name="time" id="um_was_gehts" class="abstand form-input" style="width: 80px" required>
    <input type="submit" value="Add" class="btn-add">
</div>

</form>
</div>


<div class="container">
<div class="table-responsive-sm mt-5">
  {%if daten%}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Category</th>
                <th scope="col">Subject</th>
                <th scope="col">Where</th>
                <th scope="col">When</th>
                <th scope="col">Time</th>
            </tr>
            <tbody>
                {% for termin in daten['termine'].values()%}
                <tr>
                  <th scope="row">{{termin['category']}}</th> 
                  <td>{{termin['subjects']}}</td>  
                  <td>{{termin['where']}}</td> 
                  <td>{{termin['date']}}</td>  
                  <td>{{termin['time']}}</td> 

                </tr>
                {% endfor %}
            </tbody>

        </thead>
    </table>
    {% else %}
    <h1>Keine Termine erfasst</h1>
    {% endif %}
  </div>
</div>

</body>

</html>

