<!DOCTYPE html>
<html>

<head>

    <title>Monatsplan</title>

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />

    <!--Meta-Tags-->

    <meta charset="utf-8" />

    <meta name="Title" content="Alicia Faeh" />

    <meta name="author" content="Alicia Faeh" />

    <meta name="subject" content="Persönlicher Monatsplan von Alicia Fäh" />

    <meta name="language" content="DE" />

    <meta name="Erstellungsdatum" content="12. November 2019" />

    <meta name="Erstellungsort" content="8608 Bubikon" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!--Einbinden von Stylesheet-->
    <link type="text/css" rel="stylesheet" href="../static/style.css" />

    <!--Schrift Online abrufbar, falls nicht auf Computer vorhanden-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">


</head>

<body>

<h1>MONATSPLAN</h1>

    <div class="navbar">
        <a href="{{ url_for('monatsplan') }}">Monatsplan</a>
        <a href="{{ url_for('todo') }}">To Do's auf einen Blick</a>
    </div>

<!--Abschnitt für einen neuen "Event" hinzuzufügen-->
<form class="new_entry">
  <label for="um_was_gehts" class="abstand">Add an Event:</label>

    <select name="event_cat"; class="abstand btn-select">
        <option value="kategorie">Category</option>
        <option value="arbeiten" class="arbeiten">Work</option>
        <option value="schule" class="schule">Lectures</option>
        <option value="spass" class="spass">Leisure-Time</option>
        <option value="lernen" class="lernen">Study-Time</option>
        <option value="pruefungen" class="pruefungen">Exams</option>
    </select>

    <input type="text" name="um_was_gehts" id="um_was_gehts" placeholder="What's it about?" class="abstand form-input">

    <input type="text" name="wo" placeholder="Where?" class="abstand form-input" style="width: 140px">

    <input type="date" name="wann_deadline" class="abstand form-input" style="width: 140px">

    <input type="time" name="zeitlich" class="abstand form-input" style="width: 80px">

    <input type="submit" value="Add" class="btn-add">

</form>

<h2>5. Dezember 2019</h2>

<table style="width:100%">
  <tr>
    <th>Catecory</th>
    <th>Subject</th>
    <th>Where</th>
    <th>Time</th>
  </tr>

  <tr>
    <td>Study-Time</td>
    <td>Fabio Programmieren</td>
    <td>Zürich Impact Hub</td>
    <td>10:15 - **</td>
  </tr>

  <tr>
    <td>Leisure-Time</td>
    <td>Alicia's Birthday</td>
    <td>Bubikon</td>
    <td>18:00 - 23:00</td>
  </tr>

</table>

</body>

</html>

