{% include "html_head.html" %}


<body>

<!--Titel der Seite-->
<h1>ADDED EVENTS</h1>

<!--Navigation, für einen guten Überblick der Webseite. url_for verweist auf die jeweiligen "App Router" über das main.py + Active-Class damit man weiss wo man sich befindet-->
<div class="links">
    <a href="{{ url_for('startseite') }}">Homepage</a>
    <a href="{{ url_for('addanevent') }}">Add an Event</a>
    <a href="{{ url_for('monatsplananzeige') }}" class="active">Added Events</a>
    <a href="{{ url_for('todoerfassen') }}">Add a To Do</a>
    <a href="{{ url_for('todosanzeige') }}">Added To Do's</a>
</div>

<!--Filter-Funktion eingebaut, hier kann man nach Kategorie die verschiedenen Termine anzeigen lassen. 
Wenn categoryfilter gesetzt wird, erhält der entsprechende Button die class active.
-->
<div id="myBtnContainer" style="margin-top: 60px;">
    <a href="{{ url_for('monatsplananzeige') }}" class="btn {% if not categoryfilter %} active {% endif %}"> Show all</a>
    <a href="{{ url_for('monatsplananzeige', categoryfilter='Work') }}" class="btn {% if categoryfilter=='Work' %} active {% endif %}"> Work</a>
    <a href="{{ url_for('monatsplananzeige', categoryfilter='Lectures') }}" class="btn {% if categoryfilter=='Lectures' %} active {% endif %}" > Lectures</a>
    <a href="{{ url_for('monatsplananzeige', categoryfilter='LeisureTime') }}" class="btn  {% if categoryfilter=='LeisureTime' %} active {% endif %}"> Leisure-Time</a>
    <a href="{{ url_for('monatsplananzeige', categoryfilter='StudyTime') }}" class="btn  {% if categoryfilter=='StudyTime' %} active {% endif %}"> Study-Time</a>
    <a href="{{ url_for('monatsplananzeige', categoryfilter='Exams') }}" class="btn  {% if categoryfilter=='Exams' %} active {% endif %}">Exams</a>
</div>    

<!--(1) Falls Daten vorhanden sind, wird folgendes ausgegeben:-->
{%if daten%}
<table>
    <col width="230">
        <tr>
            <th>Category</th>
            <th>Subject</th>
            <th>Where</th>
            <th>When</th>
            <th>Time</th>
        </tr>

  {% if categoryfilter %}
    <h3 class="vierzig">Upcoming Events</h3>
      {% for termin in daten.values() %}
        <tr>
            <td>{{termin['category']}}</td> 
            <td>{{termin['subjects']}}</td>  
            <td>{{termin['where']}}</td> 
            <td>{{termin['date']}}</td>  
            <td>{{termin['time']}}</td> 
        </tr>
      {% endfor %}
  {% else %}
    <h3 class="vierzig">All Events</h3>
      {% for category in daten['termine'].values()%}
      {% for termin in category.values() %}
        <tr>
            <td>
              <span class="
              {% if termin['category']=='Work' %} work
              {% elif termin['category']=='Lectures' %} lectures
              {% elif termin['category']=='LeisureTime' %} leisuretime
              {% elif termin['category']=='StudyTime' %} studytime
              {% elif termin['category']=='Exams' %} exams
              {% endif %}">{{termin['category']}}</span>
            </td> 
            <td>{{termin['subjects']}}</td>  
            <td>{{termin['where']}}</td> 
            <td>{{termin['date']}}</td>  
            <td>{{termin['time']}}</td>
        </tr>
      {% endfor %}
      {% endfor %}
  {% endif %}
</table>

<!--(1) Falls keine Daten vorhanden sind, wird folgendes ausgegeben:-->
{% else %}
<h1 class="vierzig">Keine Termine erfasst</h1>
{% endif %}


</body>

</html>

