{% include "html_head.html" %}


<body>

<h1 class="titel">ADDED EVENTS</h1>

    <div class="links">
        <a href="{{ url_for('startseite') }}">Homepage</a>
        <a href="{{ url_for('addanevent') }}">Add an Event</a>
        <a href="{{ url_for('monatsplananzeige') }}" class="active">Added Events</a>
        <a href="{{ url_for('todoerfassen') }}">Add a To Do</a>
        <a href="{{ url_for('todosanzeige') }}">Added To Do's</a>
    </div>

<div id="myBtnContainer" style="margin-top: 40px">
  <a href="{{ url_for('monatsplananzeige') }}" class="btn {% if not categoryfilter %} active {% endif %}"> Show all</a>
  <a href="{{ url_for('monatsplananzeige', categoryfilter='Work') }}" class="btn {% if categoryfilter=='Work' %} active {% endif %}"> Work</a>
  <a href="{{ url_for('monatsplananzeige', categoryfilter='Lectures') }}" class="btn {% if categoryfilter=='Lectures' %} active {% endif %}" > Lectures</a>
  <a href="{{ url_for('monatsplananzeige', categoryfilter='LeisureTime') }}" class="btn  {% if categoryfilter=='LeisureTime' %} active {% endif %}"> Leisure-Time</a>
  <a href="{{ url_for('monatsplananzeige', categoryfilter='StudyTime') }}" class="btn  {% if categoryfilter=='StudyTime' %} active {% endif %}"> Study-Time</a>
  <a href="{{ url_for('monatsplananzeige', categoryfilter='Exams') }}" class="btn  {% if categoryfilter=='Exams' %} active {% endif %}">Exams</a>
</div>    


  {%if daten%}
    <table class="table">
  <col width="230">
            <tr>
                <th>Category</th>
                <th>Subject</th>
                <th>Where</th>
                <th>When</th>
                <th>Time</th>
            </tr>

            {% if categoryfilter %}
            <h3 style="margin-top: 40px;">Upcoming Events</h3>
                  {% for termin in daten.values() %}
                  <tr>
                    <td>{{termin['category']}}</td> 
                    <td>{{termin['subjects']}}</td>  
                    <td>{{termin['where']}}</td> 
                    <td>{{termin['date']}}</td>  
                    <td>{{termin['time']}}</td> 
                  </tr>
                  {% endfor %}
            {% else %}
            <h3 style="margin-top: 40px;">All Events</h3>
              {% for category in daten['termine'].values()%}
                  {% for termin in category.values() %}
                  <tr>
                    <td><span class="
                      {% if termin['category']=='Work' %} work
                      {% elif termin['category']=='Lectures' %} lectures
                      {% elif termin['category']=='LeisureTime' %} leisuretime
                      {% elif termin['category']=='StudyTime' %} studytime
                      {% elif termin['category']=='Exams' %} exams
                      {% endif %}
                    ">{{termin['category']}}</span></td> 
                    <td>{{termin['subjects']}}</td>  
                    <td>{{termin['where']}}</td> 
                    <td>{{termin['date']}}</td>  
                    <td>{{termin['time']}}</td>
                  </tr>
                  {% endfor %}
                {% endfor %}
            {% endif %}
    </table>
    {% else %}
    <h1 style="margin-top: 40px;">Keine Termine erfasst</h1>
    {% endif %}


</body>

</html>

