<!DOCTYPE html>
<html>

<head>

    <title>Added events</title>

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />

    <!--Meta-Tags-->

    <meta charset="utf-8" />

    <meta name="Title" content="Alicia Faeh" />

    <meta name="author" content="Alicia Faeh" />

    <meta name="subject" content="Persönlicher Monatsplan von Alicia Fäh" />

    <meta name="language" content="DE" />

    <meta name="Erstellungsdatum" content="12. November 2019" />

    <meta name="Erstellungsort" content="8608 Bubikon" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!--Einbinden von Stylesheet-->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <!--Schrift Online abrufbar, falls nicht auf Computer vorhanden-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">


</head>

<body>

<h1 class="titel">ADDED EVENTS</h1>

    <div class="links">
        <a href="{{ url_for('startseite') }}">Homepage</a>
        <a href="{{ url_for('addanevent') }}">Add an Event</a>
        <a href="{{ url_for('monatsplananzeige') }}" class="active">Added Events</a>
        <a href="{{ url_for('todoerfassen') }}">Add a To Do</a>
        <a href="{{ url_for('todosanzeige') }}">Added To Do's</a>
    </div>

<div id="myBtnContainer" style="margin-top: 40px">
  <button class="btn active" onclick="filterSelection('all')"> Show all</button>
  <button class="btn" onclick="filterSelection('work')"> Work</button>
  <button class="btn" onclick="filterSelection('lectures')"> Lectures</button>
  <button class="btn" onclick="filterSelection('leisure-time')"> Leisure-Time</button>
  <button class="btn" onclick="filterSelection('study-time')"> Study-Time</button>
    <button class="btn" onclick="filterSelection('exams')">Exams</button>
</div>    


  {%if daten%}
    <table class="table">
  <col width="230">
            <tr>
                <th>Category</th>
                <th>Subject</th>
                <th>Where</th>
                <th>When</th>
                <th>Time</th>
            </tr>
            
                {% for termin in daten['termine'].values()%}
                <tr>
                  <td>{{termin['category']}}</td> 
                  <td>{{termin['subjects']}}</td>  
                  <td>{{termin['where']}}</td> 
                  <td>{{termin['date']}}</td>  
                  <td>{{termin['time']}}</td> 

                </tr>
                {% endfor %}
            
    </table>
    {% else %}
    <h1>Keine Termine erfasst</h1>
    {% endif %}


</body>

</html>

