{% include "html_head.html" %}


<body>

<h1>ADD A TO DO</h1>

<!--Navigation, für einen guten Überblick der Webseite. Mit url_for wird auf die entsprechende Route / Definition im main.py verlinkt + Active-Class damit man weiss wo man sich befindet-->
    <div class="links">
        <a href="{{ url_for('startseite') }}">Homepage</a>
        <a href="{{ url_for('addanevent') }}">Add an Event</a>
        <a href="{{ url_for('monatsplananzeige') }}">Added Events</a>
        <a href="{{ url_for('todoerfassen') }}" class="active">Add a To Do</a>
        <a href="{{ url_for('todosanzeige') }}">Added To Do's</a>
    </div>
<br>
<h2>A lot of stuff to do and so many mental breakdowns to look forward to</h2>

<div>
    <form class="new_entry" method="POST">
        <div>
          <label for="was_machen" class="abstand">Add a To Do:</label>

            <input type="text" name="was_machen" id="was_machen" placeholder="What To Do?" class="abstand form-input hundertachzig">

            <label for="bis-wann" class="abstand">Deadline:</label>

            <input type="date" name="wann_deadline" class="abstand form-input hundertachzig">

            <input type="time" name="zeitlich" class="abstand form-input hundertachzig">
                <br>
            <input type="submit" value="Add" class="btn-add vierzig">
        </div>
    </form>
</div>

<br><br>
<div>
    <h3>Click bellow to find all your added to do's:</h3>
        <div class="links">
            <a href="{{ url_for('todosanzeige') }}">To Do</a>
        </div>
</div>



</body>

</html>
