<!DOCTYPE html>
<html>

<head>

    <title>Added to do's</title>

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />

    <!--Meta-Tags-->

    <meta charset="utf-8" />

    <meta name="Title" content="Alicia Faeh" />

    <meta name="author" content="Alicia Faeh" />

    <meta name="subject" content="Persönlicher Monatsplan von Alicia Fäh" />

    <meta name="language" content="DE" />

    <meta name="Erstellungsdatum" content="12. November 2019" />

    <meta name="Erstellungsort" content="8608 Bubikon" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!--Einbinden von Stylesheet-->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <!--Schrift Online abrufbar, falls nicht auf Computer vorhanden-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">


</head>

<body>

<h1 class="titel">ADDED TO DO'S</h1>

    <div class="links">
        <a href="{{ url_for('startseite') }}">Homepage</a>
        <a href="{{ url_for('addanevent') }}">Add an Event</a>
        <a href="{{ url_for('monatsplananzeige') }}">Added Events</a>
        <a href="{{ url_for('todoerfassen') }}">Add a To Do</a>
        <a href="{{ url_for('todosanzeige') }}" class="active">Added To Do's</a>
    </div>



  {%if daten%}
    <table class="table">
        <col width="230">
            <tr>
                <th>Category</th>
                <th>What to do</th>
                <th>Date</th>
                <th>Deadline</th>
                <th>Done?</th>
            </tr>

                {% for todo in daten['todos'].values()%}
                <tr>
                  <td>{{todo['category']}}</td> 
                  <td>{{todo['was_machen']}}</td>  
                  <td>{{todo['wann_deadline']}}</td> 
                  <td>{{todo['zeitlich']}}</td> 
                  <td><input type="checkbox" name="done" />&nbsp;</td>
                </tr>
                {% endfor %}

    </table>
    {% else %}
    <h1>Keine Termine erfasst</h1>
    {% endif %}

<h3>Already Done!</h3>

<!--wenn Box Checked isch wär nice würs da uneahzeigt-->

</body>

</html>

