<!DOCTYPE html>
<html>

<head>

    <title>Add a to do</title>

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />

    <!--Meta-Tags-->

    <meta charset="utf-8" />

    <meta name="Title" content="Alicia Faeh" />

    <meta name="author" content="Alicia Faeh" />

    <meta name="subject" content="Alicias To Do's auf einen Blick" />

    <meta name="language" content="DE" />

    <meta name="Erstellungsdatum" content="12. November 2019" />

    <meta name="Erstellungsort" content="8608 Bubikon" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!--Einbinden von Stylesheet-->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
    <!--Schrift Online abrufbar, falls nicht auf Computer vorhanden-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">


</head>

<body>

<h1 class="titel">ADD A TO DO</h1>

    <div class="links">
        <a href="{{ url_for('startseite') }}">Homepage</a>
        <a href="{{ url_for('addanevent') }}">Add an Event</a>
        <a href="{{ url_for('monatsplananzeige') }}">Added Events</a>
        <a href="{{ url_for('todoerfassen') }}" class="active">Add a To Do</a>
        <a href="{{ url_for('todosanzeige') }}">Added To Do's</a>
    </div>
<br>
<h2 style="margin-top: 40px">A lot of stuff to do and so many mental breakdowns to look forward to</h2>



<div class="container" style="margin-top: 5px">
<form class="new_entry" method="POST">
    <div class="form-group">
  <label for="was_machen" class="abstand">Add a To Do:</label>

    <select name="category"; class="abstand btn-select-to-do">
        <option value="kategorie">Category</option>
        <option value="Deadline" class="abgabe_studium">Deadline</option>
        <option value="Organize" class="organisiere">Organize</option>
    </select>

    <input type="text" name="was_machen" id="was_machen" placeholder="What To Do?" class="abstand form-input">

    <label for="bis-wann" class="abstand">Deadline:</label>

    <input type="date" name="wann_deadline" class="abstand form-input" style="width: 140px">

    <input type="time" name="zeitlich" class="abstand form-input" style="width: 80px">
<br>
    <input type="submit" value="Add" class="btn-add" style="margin-top: 20px">

</div>
</form>
</div>

<br><br>
<div>
    <h3>Click bellow to find all your added to do's:</h3>
    <div class="links">
<a href="{{ url_for('todosanzeige') }}">To Do</a>
</div>
</div>



</body>

</html>
