{% include "html_head.html" %}


<body>

<h1>ADDED TO DO'S</h1>

    <div class="links">
        <a href="{{ url_for('startseite') }}">Homepage</a>
        <a href="{{ url_for('addanevent') }}">Add an Event</a>
        <a href="{{ url_for('monatsplananzeige') }}">Added Events</a>
        <a href="{{ url_for('todoerfassen') }}">Add a To Do</a>
        <a href="{{ url_for('todosanzeige') }}" class="active">Added To Do's</a>
    </div>


<h3 style="margin-top: 40px;">Amount of To Do's: <span class="berechnung">{{ daten['todos']['open']|length }} *</span></h3>
  {%if daten['todos']['open'].items()%}
    <table class="table">
        <col width="230">
            <tr>
                <th>What to do</th>
                <th>Deadline</th>
                <th>Time</th>
                <th>Done?</th>
            </tr>

                {% for key, todo in daten['todos']['open'].items() %}
                <tr>
                  <td>{{todo['was_machen']}}</td>  
                  <td>{{todo['wann_deadline']}}</td> 
                  <td>{{todo['zeitlich']}}</td> 
                  <td><a href="{{ url_for('todoasdone', todoId=key) }}" class="btn">Mark as done!</a></td>
                </tr>
                {% endfor %}

    </table>
    {% else %}
    <h1>Keine offenen Todos</h1>
    {% endif %}

<h3 style="margin-bottom: 0;">To Do's already done: <span class="berechnung">{{ daten['todos']['done']|length }} *</span></h3>
{%if daten['todos']['done'].items()%}
<table class="table">
        <col width="230">
            <tr>
                <th>What to do</th>
                <th>Deadline</th>
                <th>Time</th>
            </tr>
                {% for key, todo in daten['todos']['done'].items()%}
                <tr>
                  <td>{{todo['was_machen']}}</td>  
                  <td>{{todo['wann_deadline']}}</td> 
                  <td>{{todo['zeitlich']}}</td>
                </tr>
                {% endfor %}

    </table>
    {% else %}
    <h1>Keine abgeschlossenen Todos</h1>
    {% endif %}

<h1 class="berechnung">*Dieser Wert ist berechnet! (Crazyyy I know!)</h1>
</body>

</html>

